<head>
	<link href="/RDb/static/menu.css" rel="stylesheet" type="text/css">
	<title>Resource List</title>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type='text/javascript' src="/RDb/static/menu_jquery.js"></script>
</head>
<body>
<h2>All Resources</h2>
<div id='cssmenu'>
<ul>
   {% for item in resource_list %}
   <li class='has-sub'><a><span>{{ item.a }}</span></a>
      <ul>
		 {% for resource in item.b %}
         <li><a href='/RDb/resource/{{ resource.pk }}/'><span>{{ resource.name }}</span></a></li>
         {% endfor %}
      </ul>
   </li>
   {% endfor %}
</ul>
</div>
</body>
