<!DOCTYPE html>
<html lang="en">
<head>
	<link href="/RDb/static/wide_menu.css" rel="stylesheet" type="text/css">
	<title>Resource List</title>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type='text/javascript' src="/RDb/static/menu_jquery.js"></script>
</head>

<body>
	<h2>{% block title %}{{ name|default:"Unnamed resource" }}{% endblock %}</h2>
	<div id="sidebar">
		{% block sidebar %} 
			{% block img %}
			<img src="/RDb/static/test-graph.png"/>
			{% endblock img %}
		{% endblock sidebar %}
	</div>
	<div id="cssmenu">
	<ul>
		{% block content %}
		{{ description|default:"There is no description for this resource." }}
		<li class='has-sub'><a><span>Survey Data</span></a>
			<ul>
			{% for survey in survey_data %}
				<li><a href="/RDb/surveyvalue/{{ survey.id }}/"><span>{{ survey|default:"No properties for this resource." }}</span></a></li>
			{% endfor %}
			</ul>
		</li>
		<li class='has-sub'><a><span>Survey Info</span></a>
			<ul>
			{% for survey in survey_info %}
				<li><a href="/RDb/surveyinfo/{{ survey.id }}/"><span>{{ survey|default:"No properties for this resource." }}</span></a></li>
			{% endfor %}
			</ul>
		</li>
		<li class='has-sub'><a><span>Properties</span></a>
			<ul>
			{% for property in properties %}
				<li><a href="/RDb/property/{{ property.id }}/"><span>{{ property|default:"No properties for this resource." }}</span></a></li>
			{% endfor %}
			</ul>
		</li>
		<li class='has-sub'><a><span>Dependencies</span></a>
			<ul>
			{% for dependency in dependencies %}
				<li><a href="/RDb/dependency/{{ dependency.id }}/"><span>{{ dependency|default:"No properties for this resource." }}</span></a></li>
			{% endfor %}
			</ul>
		</li>
		{% endblock content %}
	</ul>
	</div>
	
	
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript">
$('#menu > a').click(function(){
    $(this).next().next().slideToggle();
    return false;
});
</script>
</body>

